<a href="https://colab.research.google.com/github/mruzair44/Programming-For-Artificial-intelligence/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Differentiate  between assignment operator and equality operator

In [ ]:
a=10
b=10

if a == b:
    print("a is equal to b\n")
else:
    print("a and b are not equal\n");

a is equal to b

2.	Explore all kinds /data types of variables. And  write code for each datatype.
                                                  # Integer variable
                                                  # Floating-point variable
                                                  # String variable
                                                   # Boolean variable

In [ ]:
# Integer variable
age = 20
print("My age is", age)

My age is 20

In [ ]:
# Floating-point variable
pi = 3.14159
print("The value of pi is approximately", pi)

The value of pi is approximately 3.14159

In [ ]:
# String variable
name = "Alice"
print("Hello,", name)

Hello, Alice

In [ ]:
# Boolean variable
is_sunny = True
print("Is it sunny today?", is_sunny)

Is it sunny today? True

3.	Explain the rules for variables name and use different variables name including special characters , numbers etc

Start with a Letter, Dollar Sign, or Underscore: Variable names must begin with a letter (uppercase or lowercase), a dollar sign ($), or an underscore (_). Avoid starting with a digit, period, or dash.

Avoid Reserved Words: Do not use reserved words or keywords as variable names. These words have specific meanings in the programming language and should not be redefined.
**bold text**
Case Sensitivity: Variable names are case-sensitive. For example, myVariable and myvariable are considered different variables.

Choose a Consistent Naming Convention: Stick to a consistent naming convention throughout your code, such as camelCase or snake_case.

Descriptive and Meaningful Names: Use variable names that describe the value they hold, improving code readability. For instance, instead of using generic names like n, opt for descriptive ones like userName, firstName, or lastName.

Use camelCase or snake_case: For multi-word variable names, opt for either camelCase (capitalize the first letter of each word except the first one) or snake_case (use underscores to separate words).

In [ ]:
user_name = "Alice"
age = 20
is_sunny = True

print("User Name:", user_name)
print("Age:", age)
print("Is it today Sunny:", is_sunny)

User Name: Alice
Age: 20
Is it today Sunny: True

4.	Declare and initialize multiple variables in a single line . Single variable with multiple values , multiple variables with single values. Each having at least two examples

In [ ]:
# Assigning multiple values to a single variable
x, y, z = 10, 20, 30
# Defining multiple variables in a single line
a, b, c = 1, 2, 3
# Assigning a single value to multiple variables
x = y = z = 10

5.    Perform arithmetic operations on integers and floating-point numbers
                                         # Adding, Subtracting, Multiplication and dividing two integer variables
                            # Adding, Subtracting, Multiplication and dividing  floating-point variables

In [ ]:
# Integer Operations
a = 5
b = 3

# Adding Integers
sum_integers = a + b
print(f"Sum of integers: {sum_integers}")

# Subtracting Integers
difference_integers = a - b
print(f"Difference of integers: {difference_integers}")

# Multiplying Integers
product_integers = a * b
print(f"Product of integers: {product_integers}")

# Dividing Integers (result as a float)
quotient_integers = a / b
print(f"Quotient of integers: {quotient_integers:.2f}")

# Floating-Point Operations
x = 7.5
y = 2.5

# Adding Floating-Point Numbers
sum_floats = x + y
print(f"Sum of floating-point numbers: {sum_floats:.2f}")

# Subtracting Floating-Point Numbers
difference_floats = x - y
print(f"Difference of floating-point numbers: {difference_floats:.2f}")

# Multiplying Floating-Point Numbers
product_floats = x * y
print(f"Product of floating-point numbers: {product_floats:.2f}")

# Dividing Floating-Point Numbers
quotient_floats = x / y
print(f"Quotient of floating-point numbers: {quotient_floats:.2f}")

Sum of integers: 8
Difference of integers: 2
Product of integers: 15
Quotient of integers: 1.67
Sum of floating-point numbers: 10.00
Difference of floating-point numbers: 5.00
Product of floating-point numbers: 18.75
Quotient of floating-point numbers: 3.00

6.	A string literal is a sequence of characters enclosed in quotes. In Python, we can use either single quotes (‘…’) or double quotes (“…”) to create a string.
                             # Using single quotes
                                            # Using double quotes
                                           # Using double quotes when the string contains a single quote
                                           # Using single quotes when the string contains double quotes

In [ ]:
single_quoted_string = 'Hello, World!'
print(single_quoted_string)

double_quoted_string = "Python is fun!"
print(double_quoted_string)

with_single_quote = "I'm learning Python."
print(with_single_quote)

with_double_quotes = 'He said, "Hello!"'
print(with_double_quotes)

Hello, World!
Python is fun!
I'm learning Python.
He said, "Hello!"

7.	The print() function is a built-in function in Python that allows you to output variables and other data to the console.
                       # Example of using the print() function to output a variable
                       # Example of outputting multiple variables with print()
                      # Example of using f-strings to format output
                       # Example of using f-strings to manipulate variables in the output

In [ ]:
my_variable = 42
print("The value of my_variable is:", my_variable)

name = "Alice"
age = 30
print("Name:", name, "Age:", age)

item = "apple"
quantity = 5
print(f"I have {quantity} {item}s.")

price = 2.99
quantity = 10
total_cost = price * quantity
print(f"Total cost for {quantity} items: ${total_cost:.2f}")

The value of my_variable is: 42
Name: Alice Age: 30
I have 5 apples.
Total cost for 10 items: $29.90