<a href="https://colab.research.google.com/github/mruzair44/Programming-For-Artificial-intelligence/blob/main/Lab_4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab Task: 4-5**

1.	Access List Items:
•	Create a list of fruits.
•	Print the first and last items of the list.

In [ ]:
fruits = ["dates", "mango", "apple", "water melon", "Grapes"]
print("The first item is:",fruits[0])
print("The first item is:",fruits[4])

The first item is: dates
The first item is: Grapes

2.	Change List Items:
•	Create a list of colors.
•	Change the second item in the list to "blue".

In [ ]:
colors = ["Red", "Green", "Yellow", "Orange"]

print("Original list of colors:", colors)

colors[1] = "Blue"

print("Modified list of colors:", colors)

Original list of colors: ['Red', 'Green', 'Yellow', 'Orange']
Modified list of colors: ['Red', 'Blue', 'Yellow', 'Orange']

3.	Add List Items:
•	Create a list of numbers.
•	Add the number 10 at the end of the list.

In [ ]:
numbers = [4, 5, 9, 10, 12]

print("Original list of numbers:", numbers)

# Add the number 10 at the end of the list
numbers.append(10)

# Print the modified list of numbers
print("Modified list of numbers:", numbers)

Original list of numbers: [4, 5, 9, 10, 12]
Modified list of numbers: [4, 5, 9, 10, 12, 10]

4.	Remove List Items:
•	Create a list of animals.
•	Remove the third item from the list.

In [ ]:
animals = ["Dog", "Cat", "Rabbit", "Elephant", "Lion"]


print("Original list of animals:", animals)

# Remove the third item from the list
del animals[2]

# Print the modified list of animals
print("Modified list of animals:", animals)

Original list of animals: ['Dog', 'Cat', 'Rabbit', 'Elephant', 'Lion']
Modified list of animals: ['Dog', 'Cat', 'Elephant', 'Lion']

5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [30]:
# Create a list of cities
cities = ["New York", "London", "Paris", "Tokyo", "Sydney"]

# Loop through the list and print each city
print("List of cities:")
for city in cities:
    print(city)

List of cities:
New York
London
Paris
Tokyo
Sydney

6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [31]:
# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Use list comprehension to create a new list containing the square of each number
squares = [num ** 2 for num in numbers]

# Print the original list of numbers
print("Original list of numbers:", numbers)

# Print the list containing the square of each number
print("List of squares:", squares)

Original list of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically.

In [32]:
# Create a list of names
names = ["Emma", "John", "Sophia", "Michael", "Olivia"]

# Sort the list alphabetically
sorted_names = sorted(names)

# Print the original list of names
print("Original list of names:", names)

# Print the sorted list of names
print("Sorted list of names:", sorted_names)

Original list of names: ['Emma', 'John', 'Sophia', 'Michael', 'Olivia']
Sorted list of names: ['Emma', 'John', 'Michael', 'Olivia', 'Sophia']

8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [33]:
# Create a list of fruits
fruits = ["Apple", "Banana", "Orange", "Mango", "Grapes"]

# Copy the list into a new list using slicing
copied_fruits = fruits[0:5]

# Print both lists
print("Original list of fruits:", fruits)
print("Copied list of fruits:", copied_fruits)

Original list of fruits: ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']
Copied list of fruits: ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']

9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [34]:

# Create two lists of numbers
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Join the two lists into a single list using the + operator
joined_list = list1 + list2

# Print the joined list
print("Joined list:", joined_list)

Joined list: [1, 2, 3, 4, 5, 6]

10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [35]:
# Create a list of fruits
fruits = ["Apple", "Banana", "Orange", "Mango"]

# Print the original list of fruits
print("Original list of fruits:", fruits)

# Use the append() method to add a new fruit to the list
fruits.append("Grapes")

# Print the list after adding a new fruit
print("List of fruits after adding 'Grapes':", fruits)

# Use the pop() method to remove the last fruit from the list
removed_fruit = fruits.pop()

# Print the removed fruit and the updated list of fruits
print("Removed fruit:", removed_fruit)
print("List of fruits after removing the last one:", fruits)

Original list of fruits: ['Apple', 'Banana', 'Orange', 'Mango']
List of fruits after adding 'Grapes': ['Apple', 'Banana', 'Orange', 'Mango', 'Grapes']
Removed fruit: Grapes
List of fruits after removing the last one: ['Apple', 'Banana', 'Orange', 'Mango']

11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
# Create two lists containing numbers from 1 to 5 and 6 to 10
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Use list comprehension to create a new list containing the sum of corresponding elements
sum_list = [x + y for x, y in zip(list1, list2)]

# Print the original lists and the new list with the sums
print("List 1:", list1)
print("List 2:", list2)
print("List containing the sum of corresponding elements:", sum_list)

12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [36]:
# Create a list of numbers
numbers = [23, 4, 17, 8, 12, 31, 10, 6]

# Use list comprehension to create a new list containing only the even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

# Sort the new list in descending order
even_numbers.sort(reverse=True)

# Print the original list of numbers
print("Original list of numbers:", numbers)

# Print the new list containing only even numbers sorted in descending order
print("Even numbers sorted in descending order:", even_numbers)

Original list of numbers: [23, 4, 17, 8, 12, 31, 10, 6]
Even numbers sorted in descending order: [12, 10, 8, 6, 4]