<a href="https://colab.research.google.com/github/mruzair44/Programming-For-Artificial-intelligence/blob/main/Lab_2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lab No: 2-3
Topic: Concept of Data Types** **bold text**

1.	Print at least 3 types of data type

In [16]:
# Integer 5 example
num_1=int(50)
num_2=int(25)
num_3=int(21)
num_4=int(20)
num_5=int(19)

In [12]:
#float 5 example
num1 = float (5.0)
num2 = float (3.14)
num3 = float (-2.71828)
num4 = float(4.245)
num5 = float(2.4)

In [14]:
#complex 5 example
z = 3 + 2j
y = 2 + 4j
o = 1 + 2j
u = 0 + 4j
x = 5 + 2j

**2.	Write example of type conversion for each ( minimum 3)**

In [18]:
#Conversion of Data types
# Integer to Float Conversion
num_1 = int(50)
num_2 = int(25)
num_3 = int(21)
num_4 = int(20)
num_5 = int(19)

num1 = float(num_1)
num2 = float(num_2)
num3 = float(num_3)
num4 = float(num_4)
num5 = float(num_5)

# Integer to Complex Conversion
z = complex(num_1)
y = complex(num_2)
o = complex(num_3)
u = complex(num_4)
x = complex(num_5)

# Printing the results
print("Integer to Float Conversions:")
print("num_1 to num1:", num1)
print("num_2 to num2:", num2)
print("num_3 to num3:", num3)
print("num_4 to num4:", num4)
print("num_5 to num5:", num5)
print()

print("Integer to Complex Conversions:")
print("num_1 to z:", z)
print("num_2 to y:", y)
print("num_3 to o:", o)
print("num_4 to u:", u)
print("num_5 to x:", x)

Integer to Float Conversions:
num_1 to num1: 50.0
num_2 to num2: 25.0
num_3 to num3: 21.0
num_4 to num4: 20.0
num_5 to num5: 19.0

Integer to Complex Conversions:
num_1 to z: (50+0j)
num_2 to y: (25+0j)
num_3 to o: (21+0j)
num_4 to u: (20+0j)
num_5 to x: (19+0j)

**3.	Assign multiple strings to single variable with your name , registration number, program , semester etc**

In [20]:
student_info = "Name: [Muhammad Uzair], Registration Number: [b22f1113ai111], Program: [BS Artificial intelligence], Semester: [4th ]"

print(student_info)

Name: [Muhammad Uzair], Registration Number: [b22f1113ai111], Program: [BS Artificial intelligence], Semester: [4th ]

**4.	Write Your country name and access the last 3 characters**

In [24]:
c_name="Pakistan"
print(c_name[5:8])

tan

**5.	Write code and observe using the len() function it counts space or not.bold text**

In [25]:

my_string = "Hello, how are you?"

# Count the number of characters in the string including spaces
length_with_spaces = len(my_string)

# Count the number of characters in the string excluding spaces
length_without_spaces = len(my_string.replace(" ", ""))

# Print the results
print("Length of string with spaces:", length_with_spaces)
print("Length of string without spaces:", length_without_spaces)

Length of string with spaces: 19
Length of string without spaces: 16

**6.	Write code to access the 2nd and 3rd character of your name using negative indexes.**

In [30]:
name = "John"
print(name[-3:-5])

7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [31]:
# Using index numbers with format() function
formatted_with_index = "{0} is {1} years old, and {0}'s favorite color is {2}".format("Alice", 30, "blue")

# Without using index numbers
formatted_without_index = "{} is {} years old, and {}'s favorite color is {}".format("Alice", 30, "Alice", "blue")

# Print the formatted strings
print("Formatted with index numbers:", formatted_with_index)
print("Formatted without index numbers:", formatted_without_index)

Formatted with index numbers: Alice is 30 years old, and Alice's favorite color is blue
Formatted without index numbers: Alice is 30 years old, and Alice's favorite color is blue

8.	Take input from user and  than display it like “John age is: age”

In [33]:

name = input("Enter your name: ")
age = input(name+"Enter your age: ")
print("{}'s age is: {}".format(name, age))

Enter your name: uzair
uzairEnter your age: 20
uzair's age is: 20